.row {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-breakpoint) {
      flex-wrap: nowrap;
  }
}

.column {
  margin: 0 auto;
  flex: 50%;
  padding: 0 $s-size;

  @media (min-width: $desktop-breakpoint) {
    padding: 0 $m-size;
  }
}